
@{
    ViewBag.Title = "Delete";
}

@foreach (var item in ViewBag.delete)
{
    <h2>Delete</h2>
    <p>Are you sure deleted this Account ?</p>

    <h3>Details</h3>
    <p>Name     : @item.UserName</p>
    <p>Email    : @item.Email</p>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@item.Id" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-md" />
            @(Html.ActionLink("Back To List", "index", new { id = 1 }, new { @class = "btn btn-default btn-md" }))
        </div>
    }

}

